$header-bg: rgb(77, 83, 87);
$header-text: rgb(235, 235, 235);
$body-bg: rgb(140,204,201);
$body-text: rgb(40, 75, 73);
$button-default: rgba(94, 187, 182, 1);
$button-hover: rgb(55, 185, 177);
$input-default: rgb(212, 235, 233);
$input-hover: rgb(167, 231, 226);

* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $header-text;
    font-family: Roboto, Geneva, Tahoma, sans-serif;
}

.container {
    margin: auto;
    margin-top: 2vh;
    display:grid;
    height: 95vh;
    width: 90vw;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 10vh 20vh 56vh 5vh;
    grid-gap: 1vh;
    grid-template-areas:
        "hd hd hd hd hd hd hd hd"
        "in in in in in in in in"
        "vw vw vw vw vw vw vw vw"
        "ft ft ft ft ft ft ft ft";
    // border: 2px solid yellow;
}

header {
    grid-area: hd;
    background-color: $header-bg;
    color: $header-text;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 2px solid red;
}

header > h1 {
    font-size: 1.3em;
}


.input-container {
    grid-area: in;
    background-color: $body-bg;
    // border: 2px solid blue;
}

.row {
    display: flex;
    margin: 3%;
}

label {
    width: 90px;
}

input {
    border: 0;
    border-radius: 5px;
    height: 20px;
    margin: 1%;
    background-color: $input-default;
}

input:hover {
    background-color: $input-hover;
}

button {
    border: none;
    width: 100%;
    height: 25px;
    color: $body-text;
    background-color: $button-default;
    border-radius: 10px;
    // box-shadow: 3px 5px 10px rgba(40, 75, 73, 0.25);;
}

button:hover {
    background-color: $button-hover;
}


// ****************************
// Information window and Image
// ****************************
.view {
    grid-area: vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    // border: 2px solid green;
}

.weather {
    margin-bottom: 2%;
    height: 100%;
    width: 100%;
    color:$body-text;
    background-color: $body-bg;
    // border: 2px solid turquoise;

}

.weather > p {
    margin: 2%;
}

.weather > h3 {
    margin: 2%;
}

img {
    height: auto;
    max-height: 65%;
    width: 100%;
    // border: 2px solid rgb(255, 25, 0);
}

// ******************
// Footer
// ******************
footer {
    grid-area: ft;
    background-color: $header-bg;
    // border: 2px solid purple;
}

.credit {
    font-size: 0.2em;
    color: $header-text;
}


// *********************************************
// Landscape view for screens smaller than 700px
// *********************************************

@media (orientation: landscape) and (max-height: 700px) {

    .container {
        height: 185vh;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 20vh 45vh 105vh 10vh;
        grid-gap: 1vh;
        // grid-template-areas:
        //     "hd hd hd hd hd hd hd hd"
        //     "in in in in in in in in"
        //     "vw vw vw vw vw vw vw vw"
        //     "ft ft ft ft ft ft ft ft";
    }

    .view {
        grid-area: vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
        // border: 2px solid green;
    }

    .weather {
        margin-bottom: 2%;
        margin-right: 1%;
        height: 100%;
        width: 20%;
        color:$body-text;
        background-color: $body-bg;
        // border: 2px solid turquoise;

    }

    .weather > p {
        margin: 2%;
        margin-bottom: 10%;
    }

    .weather > h3 {
        margin: 2%;
        margin-bottom: 10%;
    }

    img {
        height: auto;
        max-height: 100%;
        width: 80%;
        // border: 2px solid rgb(255, 25, 0);
    }
}


// *********************************************
// Landscape view for screens larger than 701px
// *********************************************

@media (orientation: landscape) and (min-height: 701px) {

    .container {
        grid-template-rows: 10vh 10vh 65vh 5vh;
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    label {
        width: auto;
        padding: 1%;
        padding-right: 5px;
    }

    button {
        width: 150px;
    }

    .view {
        grid-area: vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
        // border: 2px solid green;
    }

    .weather {
        margin-bottom: 2%;
        margin-right: 1%;
        height: 100%;
        width: 20%;
        color:$body-text;
        background-color: $body-bg;
        // border: 2px solid turquoise;

    }

    .weather > p {
        margin: 2%;
        margin-bottom: 15%;
    }

    .weather > h3 {
        margin: 2%;
        margin-bottom: 15%;
    }

    img {
        height: auto;
        max-height: 100%;
        width: 80%;
        // border: 2px solid rgb(255, 25, 0);
    }
}

// *********************************************
// Landscape view for screens larger than 1199px
// *********************************************
@media (orientation: landscape) and (min-height: 1000px) {

    body {
        font-size: 1.6em;
    }

    label {
        width: auto;
        margin-right: 5px;
    }

    input {
        height: 30px;
        margin: 1%;
        font-size: 0.9em;
    }

    button {
        font-size: 0.8em;
        height: 40px;
        width: 180px;
    }

    .credit {
        font-size: .5em;
        color: $header-text;
    }

}

// *********************************************
// Portrait view for screens larger than 1199px
// *********************************************
@media (orientation: portrait) and (min-height: 1199px) {

    body {
        font-size: 2em;
    }

    form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    input {
        height: 30px;
        font-size: 0.9em;
    }

    label {
        width: 30%;
        margin-right: 5%;
    }

    button {
        font-size: 1em;
        height: 40px;
    }

    .credit {
        font-size: 0.5em;
        color: $header-text;
    }

}